.outer {
  /* border: 2px solid red; */
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1000;
  position: fixed;
}

.inner {
  /* border: 2px solid black; */
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  background: linear-gradient(135deg, #f7f7f7, #e0e0e0);
  box-shadow: 0px 0px 20px #777e8b;
}

.logo {
  /* border: 2px solid black; */
  width: 20%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_items {
  /* border: 2px solid black; */
  width: 75%;
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 50px;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.nav_items a {
  color: #333;
  text-decoration: none;
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav_items a:hover {
  color: #3498db;
  transform: scale(1.2);
  cursor: pointer;
}

.nav_items a:active {
  transform: scale(0.8);
  transition: transform 0.2s ease;
}

.nav_items button {
  height: 50px;
  width: 120px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: #3498db;
  color: white;
  font-weight: 600;
  font-size: 15px;
}
.nav_items button a {
  color: white;
}
.nav_items button :focus {
  outline: none;
  border: none;
}

.nav_items button :hover {
  /* background-color:#010305af; */
  color: white !important;
  transition: none;
  transform: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
  color: white;
}

.hamburger .bar {
  width: 100%;
  height: 3px;
  background-color: #333;
  border-radius: 5px;
  color: white;
}

@media (max-width: 768px) {
  .outer {
    width: 100%;
  }
  .inner {
    width: 100%;
    height: 80px;
    padding: 0 20px;
  }
  .logo {
    width: 20%;
    width: auto;
    max-width: 150px;
    height: 30px;
  }

  .nav_items {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    top: 120px;
    right: 0;
    width: 100%;
    height: 320px;
    background-color: rgba(128, 128, 128, 0.342);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    z-index: 20;
    border: none;
    color: white;
  }

  .nav_items.active {
    display: flex;
  }

  .nav_items button {
    display: block;
    margin-top: 10px;
    width: auto;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    background-color: #dae0e2;
    color: #2c3335;
    box-shadow: 1px 1px 10px #7b8788;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .nav_items button:hover {
    background-color: #3c40c6;
    color: white;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    width: 20px;
    height: 15px;
    cursor: pointer;
    margin-left: auto;
  }

  .hamburger .bar {
    width: 100%;
    height: 3px;
    background-color: #3498db;
    border-radius: 5px;
  }
}

/* Large Devices (max-width: 1200px) */
@media (max-width: 1200px) {
  .outer {
    width: 100%;
  }
  .inner {
    width: 100%;
    height: 80px;
    padding: 0 20px;
  }
  .logo {
    width: 20%;
    width: auto;
    max-width: 150px;
    height: 30px;
  }

  .nav_items {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;

    height: 320px;
    background-color: rgba(128, 128, 128, 0.342);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    z-index: 20;
    border: none;
  }

  .nav_items.active {
    display: flex;
  }

  .nav_items button {
    display: block;
    margin-top: 10px;
    width: auto;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    background-color: #dae0e2;
    color: #2c3335;
    box-shadow: 1px 1px 10px #7b8788;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .nav_items button:hover {
    background-color: #3c40c6;
    color: white;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    width: 20px;
    height: 15px;
    cursor: pointer;
    margin-left: auto;
  }

  .hamburger .bar {
    width: 100%;
    height: 3px;
    background-color: #333;
    border-radius: 5px;
  }
}

/* Medium Devices (max-width: 992px) */
@media (max-width: 992px) {
  .outer {
    width: 100%;
  }
  .inner {
    width: 100%;
    height: 80px;
    padding: 0 20px;
  }
  .logo {
    width: 20%;
    width: auto;
    max-width: 150px;
    height: 30px;
  }

  .nav_items {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    top: 50px;
    right: 0;
    width: 40%;
    height: 320px;
    background-color: rgba(128, 128, 128, 0.342);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    z-index: 20;
    border: none;
  }

  .nav_items.active {
    display: flex;
  }

  .nav_items button {
    display: block;
    margin-top: 10px;
    width: auto;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    background-color: #dae0e2;
    color: #2c3335;
    box-shadow: 1px 1px 10px #7b8788;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .nav_items button:hover {
    background-color: #3c40c6;
    color: white;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    width: 20px;
    height: 15px;
    cursor: pointer;
    margin-left: auto;
  }

  .hamburger .bar {
    width: 100%;
    height: 3px;
    background-color: #333;
    border-radius: 5px;
  }
}

/* Tablets and Small Screens (max-width: 768px) */
@media (max-width: 768px) {
  .outer {
    width: 100%;
  }
  .inner {
    width: 100%;
    height: 80px;
    padding: 0 20px;
  }
  .logo {
    width: 20%;
    width: auto;
    max-width: 150px;
    height: 30px;
  }

  .nav_items {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    height: 320px;
    background-color: rgba(128, 128, 128, 0.342);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    z-index: 20;
    border: none;
  }
  .nav_items a {
    color: white;
    text-decoration: none;
    display: block;
    /* padding: 10px 15px; */
    font-size: 18px;
    transition: background-color 0.3s ease;
  }

  .nav_items a:hover {
    color: grey;
  }

  .nav_items.active {
    display: flex;
  }

  .nav_items button {
    display: block;
    margin-top: 10px;
    width: auto;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    background-color: #dae0e2;
    color: #2c3335;
    /* box-shadow: 1px 1px 10px #7b8788; */
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .nav_items button:hover {
    background-color: gray;
    color: white;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    width: 20px;
    height: 15px;
    cursor: pointer;
    margin-left: auto;
  }

  .hamburger .bar {
    width: 100%;
    height: 3px;
    background-color: #333;
    border-radius: 5px;
  }
}

/* Small Screens (max-width: 576px) */
@media (max-width: 576px) {
  .outer {
    width: 100%;
  }
  .inner {
    width: 100%;
    height: 80px;
    padding: 0 20px;
  }
  */ .logo {
    width: 20%;
    width: auto;
    max-width: 150px;
    height: 30px;
  }

  .nav_items {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    height: 320px;
    background-color: #3498db;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    z-index: 20;
    border: none;
    border-radius: 1px;
  }
  .nav_items a:hover {
    color: grey;
  }
  .nav_items.active {
    display: flex;
  }

  .nav_items button {
    display: block;
    margin-top: 10px;
    width: auto;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    background-color: #333;
    color: white;
    box-shadow: 1px 1px 10px #2f393a;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .nav_items button:hover {
    background-color: #1094ec1a;
    color: white;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    width: 20px;
    height: 15px;
    cursor: pointer;
    margin-left: auto;
  }

  .hamburger .bar {
    width: 100%;
    height: 3px;
    background-color: #333;
    border-radius: 5px;
  }
}
