/* index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

.heading {
  font-family: "Merriweather", serif;
  font-weight: 700;
  color: #222;
}

body.light {
  --bg-color: #ffffff;
  --text-color: #000000;
}

body.dark {
  --bg-color: #000000;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
}

.theme-toggle {
  cursor: pointer;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
